* { margin: 0; padding: 0;}

body, html { height:100%; }


/* Navbar Styling */
header{
  position: absolute;
  z-index:2;
  width: 100%;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(./fonts/HelveticaNeueLt.ttf) format("truetype");
}
.navbar {
  background-color: #000000;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fdfdfd;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #fdfdfd;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #fdfdfd; 
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #fdfdfd;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #fdfdfd;
  background-color: #0092dd;
}
.navbar .navbar-toggle {
  border-color: #0092dd;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #0092dd;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #fdfdfd;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fdfdfd;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #0092dd;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fdfdfd;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #0092dd;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fdfdfd;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #0092dd;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fdfdfd;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #0092dd;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #fdfdfd;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #fdfdfd;
  background-color: #0092dd;
}

/* general css */
body{
  color: black;
}
#sliding-title{
transition: .5s;
}


.corefactors-logo{
  width: auto;
  height: 30px;
}
.all-section-except-nav{
position: relative;
top: 57px;
  }
.section-title-1{
width: 100%;
height: 654px;
opacity: 0.99;
background-image: linear-gradient(to bottom, #779cff, #90e5ff);
}

.sub-menu{
  position: relative;
  top: 10px;
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
}

.sub-menu>li{
  list-style-type:none;
  color:rgb(214, 233, 255);
  font-size: 14px;
}
.line-svg{
  position: absolute;
  left: 10px;
  top: 73px;
  height: 72px;
}
.title-text{
  position: relative;
  top: 30px;
}
.title-text h1{
  font-size: 20px;
  margin-left: 30px;
  color: #4e4e4e;
}
.title-para{
  text-align: center;
  margin: 10px 20px;
  color: #ffffff;
  font-family: "HelveticaNeue", sans-serif;
  position: relative;
  top: 30px;
}
.title-1-btn{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 80px;
  align-items: center;
}
.title-1-btn button{
  
  width: 60%;
  height: 35px;
  border-radius: 6px;
  margin:10px 0
}
.btn-sft{
  background-color: #ffe18c;
  border: none;
}
.btn-sft:hover{
  border: 2px solid #ffe18c;
  background-color: transparent;
}
.btn-rad{
  border: solid 1px #000000;
  background-color: transparent;
}
.btn-rad:hover{
  border: none;
  background-color:black;
  color: white;
}
.section-2-text-image{
  top: 30px;
  position: relative;
  text-align: center;
  padding: 10px 20px;
}
.section-2-title{
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: 0.18px;
  color: #484848;
  text-align: center;
  padding-top: 50px;
  .text-underline{
    border-bottom:3px solid red;
  }
}
.section-2-subtitle{
  font-size: 24px;
  font-weight: bold; 
  font-style: normal;  
  font-stretch: normal;  
  line-height: 1.21;  
  letter-spacing: 0.17px;   
  color: #484848;
}
.svg-ipad{
  width: 100%;
  display: block;
  margin: 0 auto;

}
p{
  font-family: "HelveticaNeue", sans-serif;
}
.section-3{
  height: 1130px;
  background-image: linear-gradient(to bottom, #CADAFD, #c4edfa);
  opacity:1;
  text-align: center;
  padding: 10px 20px;
}
.title-3-text .title{
  font-size: 28px;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: 0.17px;
  color: #484848;
}
.svg-ipad{
  width: 100%;
    display: block;
    margin: 0 auto;
}

.section-4{
  position: relative;
  top: 20px;
  text-align: center;
  padding: 10px 20px;
}
.title-4-text>h1{
  padding-bottom: 50px;
  font-size: 28px;
}
.title-4-text p{
  padding-bottom: 25px;
  font-size: 14px;
}

.section-5{
  position: relative;
  top: 100px;
  height: 1400px;
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px 20px;
}
.title-5-text{
  padding-top: 50px;
}
.title-5-text p{
  font-size: 14px;
}
.title-5-text h1{
  font-size: 28px;
  padding-bottom: 50px;
}
.svg-ipad-4{
  position: relative;
    left: 52px;
}
.section-6-cards{
  background-image:linear-gradient(to bottom, #779cff, #90e5ff);
  & div{
    border-radius: 5px 20px 5px;
    width:50%;
  }
}
#canvas{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
}

footer{
  position: relative;
  height: 600px;
  top: 50px;
  background-color: #000000;
  color: #f4f4f4;
  padding:20px 0;
  &>div{
    display: block;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    h1{
      font-size: 16px;
    }
    li{
      list-style-type: none;
      font-size: 14px;
      line-height: 2;
    }
    
  }
  
}
@media only screen and (min-width:500px){
  .section-3{
    height: 900px;
  }
  .section-5{
    height: 1900px;
  }

  @media only screen and (min-width:600px){
    .title-text h1 {
      font-size: 30px;
      margin-left:50px;
    }
    .title-para {
      text-align: left;
      margin-left:50px;
    }
    .line-svg {
      height: 208px;
      padding: 0px 20px;
  }
  .section-3{
    height: 850px;
  }
  .section-5 {
    height: 1920px;
}
    @media only screen and (min-width:750px){
      .section-title-1 {
        height: 450px;
      }
      .title-para {
        width: 614px;
    }
      .title-text {
        position: relative;
        top: 30px;
        padding-left: 25px;
    }
      .title-1-btn{
        flex-direction: row;
        padding-left: 70px;
      }
      .title-1-btn button {
        width: 30%;
        margin: 10px 10px;
        margin-top: 68px;
    }
    .section-2-title{
      font-size: 21px;
      line-height: 1.24;
      letter-spacing: 0.13px;
      color: #484848;
    }

    
    .section-2-subtitle {
      line-height: 3.21;
    }
    .svg-ipad{
      padding-top: 50px;
      width: 800px;
    }
    .title-3-text{
      padding-top: 30px;
    }
    .title-3-text .para{
      padding-top: 30px;
    }
    .section-3{
      height:1000px;
    }
    
    .section-5 {
      height: 1120px;
  }
  .section-6-cards{
    background-image:linear-gradient(to bottom, #779cff, #90e5ff);
    display: flex;
    height: 900px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    & div{
      margin: auto 2.5%;
      height: 375px;
      background-color: white;
      border-radius: 25px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      width:25%;
      text-align: left;
      padding: 10px 20px 0px;
      img{
        width: 84.8px;
        height: 84.8px;
        object-fit: contain;
        padding:10px;
      }
      h1{
        font-size: 15px;
    color: #006cff;
    text-align: center;
    padding: 10px 0;
      }
      p{
        font-size: 1.6vw;
        text-align: justify;
      }
    }
  }
  footer{
    display: flex;
    justify-content: space-around;
    height: 210px;
    .footer-menu-3{
      position: relative;
    bottom: 27px;
    }
    & > div{
      margin: auto 0;
      text-align: left;
      h1{
        padding-bottom: 20px;
      }
    }
  }
    @media only screen and (min-width:992px) {
                    .nav-signin-up{
                        position: absolute;
                        right: 0px;
                    }
                    .nav-free-trial{
                        position: absolute;
                        right: 128px;
                    }
                    .nav-pricing{
                        position: absolute;
                        right: 224px;
                    }

                    .sub-menu {
                        width: 307px;
                        margin-left: auto;
                    }
                    .title-para {
                    width: 750px;
                }
                .section-2-title{
                  font-size: 30px;
                }

                .section-2-text-image{
                    padding: 10px 50px;
                    display: flex;
                    .section-2-text{
                            text-align: right;
                            margin-left: 25px;
                        & > .section-2-subtitle{
                            line-height: 1.21;
                            padding-bottom: 20px;
                    }
                    }
                    & .svg-ipad {
                        width: 521px;
                    }
                    .section-2-para{
                        padding-bottom: 100px;
                    }
                }

            .section-3{
                display:flex;
                height: 570px;
                flex-direction: row-reverse;
                .title-3-text{
                    text-align: left;
                    margin-right: 25px;
                }
                & .svg-ipad {
                width: 521px;
                padding-top: 0;
            }
                }
                .section-4 {
                    top: 50px;
                    display: flex;
                    .title-4-text{
                        text-align: right;
                        margin-left: 25px;
                    }
                    & .svg-ipad {
                        width: 521px;
                        padding-top: 0;
                    }
                }
                .section-5{
                    top: 50px;
                    display: flex;
                    flex-direction: row-reverse;
                    height: 900px;
                    .title-5-text{
                        text-align: left;
                        margin-right: 25px;
                    }
                    & .svg-ipad {
                        width: 521px;
                        padding-top: 0;
                    }
                }
                .section-6-cards{
                  background-image:linear-gradient(to bottom, #779cff, #90e5ff);
                  display: flex;
                  height: 1000px;
                  flex-wrap: wrap;
                  align-items: center;
                  justify-content: center;
                  & div{
                    margin: auto 2.5%;
                    height: 375px;
                    background-color: white;
                    border-radius: 25px;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    width:25%;
                    text-align: left;
                    padding: 10px 20px 0px;
                    img{
                      width: 84.8px;
                      height: 84.8px;
                      object-fit: contain;
                      padding:10px;
                    }
                    h1{
                      font-size: 18px;
                      color: #006cff;
                    }
                    p{
                      font-size: 14px;
                    }
                  }
                }
                @media only screen and (min-width:1200px){
                    .line-svg {
                        height: 234px;
                    }
                    .title-text{

                     h1 {
                        font-size: 36px;
                    }
                    .title-para{
                        font-size: 18px;
                    }
                }
                .title-1-btn button {
                    width: 18%;
                    margin: 10px 10px;
                    margin-top: 35px;
                }
                .section-2-text-image{
                    .svg-ipad{
                        width: 523px;
                        top: -33px;
                        position: relative;
                    }
                }
                .section-3{
                    height: 500px;
                }
                .section-5{
                    height: 695px;
                    .svg-ipad {
                        width: 521px;
                        padding-top: 0;
                        position: relative;
                        bottom: 10px;
                    }
                }
                .section-6-cards{
                  & div{
                    width:23%;
                  }
                }
                @media only screen and (min-width:1300px){
                  .section-6-cards{
                    & div{
                      width:21%;
                    }
                  }

                  @media only screen and (min-width:1400px){
                    .line-svg {
                      padding: 0px 200px;
                      height: 277px;
                  }
                    .section-title-1{
                      padding-left: 160px;
                      .title-text h1 {
                        font-size: 50px;
                      }
                          .title-para{
                            font-size: 20px;
                            margin: 0px 55px;
                            top: 5px;
                          }
                          .title-1-btn button {
                            width: 20%;
                            margin: 0px 10px;
                            margin-top: 0;
                        }
                    }
                      .section-2-text-image{
                          padding-bottom:0px;
                          .section-2-text{
                              width: 480px;
                              position: relative;
                              left: 10%;
                          }
                          .svg-ipad{
                              margin: 0;
                              width: 64%;
                              top: 0px;
                              left: 100px;
                              padding: 10px 0 0 0;
                          }
                      }
                      .section-3{
                        height: 550px;
                        padding-bottom:0px;
                        .title-3-text{
                          width: 480px;
                          position: relative;
                          right: 10%;
                        }
                        .svg-ipad{
                              margin: 0;
                              width: 64%;
                              top: 0px;
                              right: 100px;
                              padding: 10px 0 0 0;
                        }
                      }
                      .section-4{
                        padding-bottom:0px;
                        .title-4-text{
                          width: 480px;
                          position: relative;
                          left: 10%;
                        }
                        .svg-ipad{
                          margin: 0;
                          width: 58%;
                          top: -130px;
                          left: 100px;
                          padding: 10px 0 0 0;
                        }
                      }
                      .section-5{
                        height: 850px;
                        padding-bottom:0px;
                        .title-5-text{
                          width: 480px;
                          position: relative;
                          right: 10%;
                        }
                        .svg-ipad{
                              margin: 0;
                              width: 64%;
                              top: 0px;
                              right: 100px;
                              padding: 10px 0 0 0;
                        }
                      }
                      .section-6-cards{ 
                        padding: 5% 10%;
                        & div{
                          width:270px;
                        }
                      }
                      @media only screen and (min-width:1650px){
                        .section-6-cards{
                          padding: 5% 17%;
                        }
                      }
                    }
                }
                }
            }
        }
    }
}