* { margin: 0; padding: 0;}

body, html { height:100%; }


/* Navbar Styling */
header{
  position: absolute;
  z-index:2;
  width: 100%;
}
.navbar {
  background-color: #000000;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fdfdfd;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #fdfdfd;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #fdfdfd; 
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #fdfdfd;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #fdfdfd;
  background-color: #0092dd;
}
.navbar .navbar-toggle {
  border-color: #0092dd;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #0092dd;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #fdfdfd;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fdfdfd;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #0092dd;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fdfdfd;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #0092dd;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fdfdfd;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #0092dd;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fdfdfd;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #0092dd;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #fdfdfd;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #fdfdfd;
  background-color: #0092dd;
}

/* general css */
body{
  color: black;
}
.corefactors-logo{
  width: auto;
  height: 30px;
}
.all-section-except-nav{
position: relative;
top: 57px;
  }
.section-title-1{
width: 100%;
height: 654px;
opacity: 0.99;
background-image: linear-gradient(to bottom, #779cff, #90e5ff);
}

.sub-menu{
  position: relative;
  top: 10px;
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
}

.sub-menu>li{
  list-style-type:none;
  color:rgb(214, 233, 255);
}
.line-svg{
  position: absolute;
  left: 10px;
  top: 73px;
  height: 72px;
}
.title-text{
  position: relative;
  top: 30px;
}
.title-text h1{
  font-size: 20px;
  margin-left: 30px;
  color: #4e4e4e;
}
.title-para{
  text-align: center;
  margin: 10px 20px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  position: relative;
  top: 30px;
}
.title-1-btn{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 80px;
  align-items: center;
}
.title-1-btn button{
  
  width: 60%;
  height: 35px;
  border-radius: 6px;
  margin:10px 0
}
.btn-sft{
  background-color: #ffe18c;
  border: none;
}
.btn-sft:hover{
  border: 2px solid #ffe18c;
  background-color: transparent;
}
.btn-rad{
  border: solid 1px #000000;
  background-color: transparent;
}
.btn-rad:hover{
  border: none;
  background-color:black;
  color: white;
}
.section-2-text{
  top: 30px;
  position: relative;
  text-align: center;
  padding: 10px 20px;
}
.section-2-title{
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: 0.18px;
  color: #484848;
  
}
.section-2-subtitle{
  font-size: 28px;
  font-weight: bold; 
  font-style: normal;  
  font-stretch: normal;  
  line-height: 1.21;  
  letter-spacing: 0.17px;   
  color: #484848;
}
p{
  font-family: 'lato', sans-serif;
}
.section-3{
  position: relative;
  top: 361px;
  height: 1000px;
  background-image: linear-gradient(to bottom, #1276ff, #18b9ea);
  opacity: 0.25;
  text-align: center;
  padding: 10px 20px;
}
.title-3-text .title{
  font-size: 28px;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: 0.17px;
  color: #484848;
}

.section-4{
  position: relative;
  top: 376px;
  text-align: center;
  padding: 10px 20px;
}

.section-5{
  position: relative;
  top: 775px;
  height: 2250px;
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px 20px;
}
.title-5-text p{
  font-size: 14px;
  
}
footer{
  position: relative;
  height: 392px;
  top: 50px;
  background-color: #000000;
}
#canvas{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
}